.app-header {
  background-color: rgb(35, 182, 240);
  height: 350px;
  padding: 10px;
  color: white;
}

li {
  /* list-style: none; */
  /* display: inline; */
  padding: 2px;
  border: 2px solid yellow;
  margin: 2px;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}
.app-title {
  font-size: 1.5em;
}
